data/.ipynb_checkpoints
data/nces_endowment/TableLibrary_2010.xlsx
data/nces_endowment/TableLibrary_2011.xlsx
data/nces_endowment/TableLibrary_2012.xlsx
data/nces_endowment/TableLibrary_2013.xlsx
data/nces_endowment/TableLibrary_2014.xlsx
data/nces_endowment/TableLibrary_2015.xlsx
data/nces_endowment/TableLibrary_2016.xlsx
data/nces_endowment/TableLibrary_2017.xlsx
data/nces_endowment/TableLibrary_2021.xlsx
data/TableLibrary.xlsx
data/REHE2024_Ch1_Pop_and_Ed_Attainment_utf8.csv
data/REHE2024_Ch1_Pop_and_Ed_Attainment.xlsx
data/Awards_utf8.csv
data/Awards.csv
data/nces_endowment/TableLibrary_2020.xlsx
data/nces_endowment/TableLibrary_2019.xlsx
data/nces_endowment/TableLibrary_2018.xlsx
data
.ipynb_checkpoints
.venv
src/__pycache__
